.Board-Named {
  /* Board - Named */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px;
  position: relative;
  background: #ffffff;
  border-radius: 8px;
  
}

.Board {
  /* Board */

  width: 576px;
  height: 576px;

  /* Pieces/White */

  background: #f4f7fa;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
}
h1 {
  color: #b7c0d8;
  text-align: center;
  width: 608px;

}
